openapi: 3.0.3
info:
  title: Expert Center Appointment API
  version: 1.0.0
  description: These are the OpenAPI specs that describe the REST API of Expert Center Appointment.
  termsOfService: https://easyappointments.org/terms-and-conditions
  contact:
    name: Expert Center Appointment
    url: https://easyappointments.org
    email: info@easyappointments.org
  license:
    name: GPL-3.0
    url: https://www.gnu.org/licenses/gpl-3.0.en.html
externalDocs:
  description: Find out more about Expert Center Appointment
  url: https://easyappointments.org/docs.html
servers:
  - url: https://demo.easyappointments.org/index.php/api/v1/
  - url: http://localhost/index.php/api/v1/
tags:
  - name: admins
  - name: appointments
  - name: availabilities
  - name: blocked_periods
  - name: branches
  - name: customers
  - name: feedback
  - name: payments
  - name: providers
  - name: secretaries
  - name: service_categories
  - name: services
  - name: settings
  - name: unavailabilities
  - name: webhooks
  - name: medicine_categories
  - name: medicines
  - name: prescriptions
  - name: pharmacy_orders
  - name: pharmacy_cart
paths:
  /availabilities:
    get:
      tags:
        - availabilities
      summary: Gets availability
      parameters:
        - name: providerId
          in: query
          schema:
            type: integer
        - name: serviceId
          in: query
          schema:
            type: integer
        - name: date
          in: query
          schema:
            type: string
        - name: branchId
          in: query
          schema:
            type: integer
          description: Filter availabilities to only show slots for providers at this branch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /appointments:
    get:
      tags:
        - appointments
      summary: Get all appointments
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: length
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
        - name: with
          in: query
          schema:
            type: string
        - name: aggregates
          in: query
          schema:
            type: string
          deprecated: true
        - name: date
          in: query
          schema:
            type: string
        - name: from
          in: query
          schema:
            type: string
        - name: till
          in: query
          schema:
            type: string
        - name: serviceId
          in: query
          schema:
            type: integer
        - name: providerId
          in: query
          schema:
            type: integer
        - name: customerId
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppointmentRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    post:
      tags:
        - appointments
      summary: Create an appointment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentPayload'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /appointments/{appointmentId}:
    get:
      tags:
        - appointments
      summary: Get an appointment
      parameters:
        - name: appointmentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    put:
      tags:
        - appointments
      summary: Update an appointment
      parameters:
        - name: appointmentId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentPayload'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    delete:
      tags:
        - appointments
      summary: Delete an appointment
      parameters:
        - name: appointmentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /unavailabilities:
    get:
      tags:
        - unavailabilities
      summary: Get all unavailabilities
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: length
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
        - name: with
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UnavailabilityRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    post:
      tags:
        - unavailabilities
      summary: Create an unavailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnavailabilityPayload'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnavailabilityRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /unavailabilities/{unavailabilityId}:
    get:
      tags:
        - unavailabilities
      summary: Get an unavailability
      parameters:
        - name: unavailabilityId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnavailabilityRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    put:
      tags:
        - unavailabilities
      summary: Update an unavailability
      parameters:
        - name: unavailabilityId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnavailabilityPayload'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnavailabilityRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    delete:
      tags:
        - unavailabilities
      summary: Delete an unavailability
      parameters:
        - name: unavailabilityId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /customers:
    get:
      tags:
        - customers
      summary: Get all customers
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: length
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
        - name: with
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    post:
      tags:
        - customers
      summary: Create a customer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPayload'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
      x-codegen-request-body-name: body
  /customers/{customerId}:
    get:
      tags:
        - customers
      summary: Get a customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    put:
      tags:
        - customers
      summary: Update a customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPayload'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    delete:
      tags:
        - customers
      summary: Delete a customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /services:
    get:
      tags:
        - services
      summary: Get all services
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: length
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
        - name: with
          in: query
          schema:
            type: string
        - name: branchId
          in: query
          description: Filter services by branch
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    post:
      tags:
        - services
      summary: Create a service
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePayload'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /services/{serviceId}:
    get:
      tags:
        - services
      summary: Get a service
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    put:
      tags:
        - services
      summary: Update a service
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePayload'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    delete:
      tags:
        - services
      summary: Delete a service
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /service_categories:
    get:
      tags:
        - service_categories
      summary: Get all service-categories
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: length
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
        - name: with
          in: query
          schema:
            type: string
        - name: branchId
          in: query
          schema:
            type: integer
          description: Filter service categories to only those that have services assigned to this branch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceCategoryRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    post:
      tags:
        - service_categories
      summary: Create a service-category
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceCategoryPayload'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCategoryRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /service_categories/{serviceCategoryId}:
    get:
      tags:
        - service_categories
      summary: Get a service-category
      parameters:
        - name: serviceCategoryId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCategoryRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    put:
      tags:
        - service_categories
      summary: Update a service-category
      parameters:
        - name: serviceCategoryId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceCategoryPayload'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCategoryRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    delete:
      tags:
        - service_categories
      summary: Delete a service-category
      parameters:
        - name: serviceCategoryId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /admins:
    get:
      tags:
        - admins
      summary: Get all admins
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: length
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
        - name: with
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    post:
      tags:
        - admins
      summary: Create an admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminPayload'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /admins/{adminId}:
    get:
      tags:
        - admins
      summary: Get an admin
      parameters:
        - name: adminId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    put:
      tags:
        - admins
      summary: Update an admin
      parameters:
        - name: adminId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminPayload'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    delete:
      tags:
        - admins
      summary: Delete an admin
      parameters:
        - name: adminId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /providers:
    get:
      tags:
        - providers
      summary: Get all providers
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: length
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
        - name: with
          in: query
          schema:
            type: string
        - name: branchId
          in: query
          description: Filter providers by branch
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    post:
      tags:
        - providers
      summary: Create a provider
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderPayload'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /providers/{providerId}:
    get:
      tags:
        - providers
      summary: Get a provider
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    put:
      tags:
        - providers
      summary: Update a provider
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderPayload'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    delete:
      tags:
        - providers
      summary: Delete a provider
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /secretaries:
    get:
      tags:
        - secretaries
      summary: Get all secretaries
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: length
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
        - name: with
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SecretaryRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    post:
      tags:
        - secretaries
      summary: Create a secretary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretaryPayload'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretaryRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /secretaries/{secretaryId}:
    get:
      tags:
        - secretaries
      summary: Get a secretary
      parameters:
        - name: secretaryId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretaryRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    put:
      tags:
        - secretaries
      summary: Update a secretary
      parameters:
        - name: secretaryId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretaryPayload'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretaryRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    delete:
      tags:
        - secretaries
      summary: Delete a secretary
      parameters:
        - name: secretaryId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /settings:
    get:
      tags:
        - settings
      summary: Get all settings
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: length
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
        - name: with
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /settings/{settingName}:
    get:
      tags:
        - settings
      summary: Get a setting
      parameters:
        - name: settingName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    put:
      tags:
        - settings
      summary: Update a setting
      parameters:
        - name: settingName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingPayload'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /webhooks:
    get:
      tags:
        - webhooks
      summary: Get all webhooks
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: length
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
        - name: with
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    post:
      tags:
        - webhooks
      summary: Create a webhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookPayload'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /webhooks/{webhookId}:
    get:
      tags:
        - webhooks
      summary: Get a webhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    put:
      tags:
        - webhooks
      summary: Update a webhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookPayload'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    delete:
      tags:
        - webhooks
      summary: Delete a webhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /blocked_peroids:
    get:
      tags:
        - blocked_peroids
      summary: Get all blocked_peroids
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: length
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
        - name: with
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlockedPeroidRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    post:
      tags:
        - blocked_peroids
      summary: Create an blocked_peroid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockedPeroidPayload'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockedPeroidRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /blocked_peroids/{blockedPeroidId}:
    get:
      tags:
        - blocked_peroids
      summary: Get an blocked_peroid
      parameters:
        - name: blockedPeroidId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockedPeroidRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    put:
      tags:
        - blocked_peroids
      summary: Update an blocked_peroid
      parameters:
        - name: blockedPeroidId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockedPeroidPayload'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockedPeroidRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    delete:
      tags:
        - blocked_peroids
      summary: Delete an blocked_peroid
      parameters:
        - name: blockedPeroidId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /branches:
    get:
      tags:
        - branches
      summary: Get all branches
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: length
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
        - name: isActive
          in: query
          description: Filter by active status
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BranchRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    post:
      tags:
        - branches
      summary: Create a branch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BranchPayload'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /branches/{branchId}:
    get:
      tags:
        - branches
      summary: Get a branch
      parameters:
        - name: branchId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    put:
      tags:
        - branches
      summary: Update a branch
      parameters:
        - name: branchId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BranchPayload'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchRecord'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    delete:
      tags:
        - branches
      summary: Delete a branch
      parameters:
        - name: branchId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /payments/create-session:
    post:
      tags:
        - payments
      summary: Create a Stripe checkout session
      description: Creates a Stripe checkout session and returns the checkout URL for payment.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSessionPayload'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSessionResponse'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /payments/verify:
    post:
      tags:
        - payments
      summary: Verify a payment
      description: Verifies the payment status of a Stripe checkout session.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - sessionId
              properties:
                sessionId:
                  type: string
                  description: Stripe checkout session ID
              example:
                sessionId: cs_test_abc123
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentVerifyResponse'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /payments/{id}/refund:
    post:
      tags:
        - payments
      summary: Refund a payment
      description: Creates a Stripe refund for a paid appointment.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Payment/Appointment ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - appointmentId
              properties:
                appointmentId:
                  type: integer
                  description: Appointment ID to refund
                amount:
                  type: number
                  format: float
                  description: Partial refund amount (omit for full refund)
                reason:
                  type: string
                  description: Reason for the refund
              example:
                appointmentId: 1
                amount: 250.00
                reason: Patient cancelled
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  refund:
                    type: object
                    properties:
                      refundId:
                        type: string
                      status:
                        type: string
                      amount:
                        type: number
                      currency:
                        type: string
                  appointment:
                    type: object
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /feedback:
    get:
      tags:
        - feedback
      summary: Get all feedback
      parameters:
        - name: providerId
          in: query
          schema:
            type: integer
        - name: customerId
          in: query
          schema:
            type: integer
        - name: appointmentId
          in: query
          schema:
            type: integer
        - name: approved
          in: query
          schema:
            type: boolean
        - name: page
          in: query
          schema:
            type: integer
        - name: length
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
        - name: fields
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeedbackRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    post:
      tags:
        - feedback
      summary: Create feedback
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackPayload'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackRecord'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /feedback/{id}:
    get:
      tags:
        - feedback
      summary: Get a single feedback record
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: fields
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackRecord'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    put:
      tags:
        - feedback
      summary: Update a feedback record
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackPayload'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackRecord'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    delete:
      tags:
        - feedback
      summary: Delete a feedback record
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /feedback/{id}/approve:
    patch:
      tags:
        - feedback
      summary: Approve a feedback record
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackRecord'
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /feedback/provider/{id}/rating:
    get:
      tags:
        - feedback
      summary: Get average provider rating
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Provider user ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderRatingResponse'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /medicine_categories:
    get:
      tags:
        - medicine_categories
      summary: Get medicine category collection
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/length'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/fields'
        - name: isActive
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicineCategoryRecord'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    post:
      tags:
        - medicine_categories
      summary: Store a new medicine category
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicineCategoryPayload'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicineCategoryRecord'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /medicine_categories/{medicineCategoryId}:
    get:
      tags:
        - medicine_categories
      summary: Get a single medicine category
      parameters:
        - name: medicineCategoryId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicineCategoryRecord'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    put:
      tags:
        - medicine_categories
      summary: Update a medicine category
      parameters:
        - name: medicineCategoryId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicineCategoryPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicineCategoryRecord'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    delete:
      tags:
        - medicine_categories
      summary: Delete a medicine category
      parameters:
        - name: medicineCategoryId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /medicines:
    get:
      tags:
        - medicines
      summary: Get medicine collection
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/length'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/fields'
        - name: categoryId
          in: query
          schema:
            type: integer
        - name: activeAndInStock
          in: query
          schema:
            type: boolean
        - name: isActive
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicineRecord'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    post:
      tags:
        - medicines
      summary: Store a new medicine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicinePayload'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicineRecord'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /medicines/{medicineId}:
    get:
      tags:
        - medicines
      summary: Get a single medicine
      parameters:
        - name: medicineId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicineRecord'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    put:
      tags:
        - medicines
      summary: Update a medicine
      parameters:
        - name: medicineId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicinePayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicineRecord'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    delete:
      tags:
        - medicines
      summary: Soft-delete a medicine (sets is_active=0)
      parameters:
        - name: medicineId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /prescriptions:
    get:
      tags:
        - prescriptions
      summary: Get prescription collection
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/length'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/fields'
        - name: providerId
          in: query
          schema:
            type: integer
        - name: customerId
          in: query
          schema:
            type: integer
        - name: appointmentId
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrescriptionRecord'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    post:
      tags:
        - prescriptions
      summary: Create a prescription with items
      description: Creates a prescription for a completed appointment, snapshots medicine data, and sends email.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - appointmentId
                - items
              properties:
                appointmentId:
                  type: integer
                notes:
                  type: string
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - medicineId
                    properties:
                      medicineId:
                        type: integer
                      quantity:
                        type: integer
                        default: 1
                      dosageNotes:
                        type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrescriptionRecord'
                  - type: object
                    properties:
                      cartUrl:
                        type: string
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /prescriptions/{prescriptionId}:
    get:
      tags:
        - prescriptions
      summary: Get a single prescription with items
      parameters:
        - name: prescriptionId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionRecord'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    put:
      tags:
        - prescriptions
      summary: Update a prescription
      parameters:
        - name: prescriptionId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionRecord'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
    delete:
      tags:
        - prescriptions
      summary: Delete a prescription
      parameters:
        - name: prescriptionId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /pharmacy_orders:
    get:
      tags:
        - pharmacy_orders
      summary: Get pharmacy order collection
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/length'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/fields'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, processing, delivered, ready_for_pickup, cancelled]
        - name: paymentStatus
          in: query
          schema:
            type: string
            enum: [pending, paid, refunded]
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PharmacyOrderRecord'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /pharmacy_orders/{orderId}:
    get:
      tags:
        - pharmacy_orders
      summary: Get a single pharmacy order with items
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PharmacyOrderRecord'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /pharmacy_orders/{orderId}/status:
    patch:
      tags:
        - pharmacy_orders
      summary: Update pharmacy order fulfillment status
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [pending, processing, delivered, ready_for_pickup, cancelled]
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PharmacyOrderRecord'
      security:
        - BearerToken: [ ]
        - BasicAuth: [ ]
  /pharmacy/cart/{hash}:
    get:
      tags:
        - pharmacy_cart
      summary: Get prescription for cart (public, no auth)
      parameters:
        - name: hash
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrescriptionRecord'
                  - type: object
                    properties:
                      subtotal:
                        type: number
                      total:
                        type: number
                      currency:
                        type: string
                      customer:
                        type: object
                        properties:
                          firstName:
                            type: string
                          lastName:
                            type: string
                          email:
                            type: string
                          phone:
                            type: string
  /pharmacy/cart/{hash}/order:
    post:
      tags:
        - pharmacy_cart
      summary: Create pharmacy order and Stripe session (public, no auth)
      parameters:
        - name: hash
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - customerEmail
                - fulfillmentMethod
              properties:
                customerFirstName:
                  type: string
                customerLastName:
                  type: string
                customerEmail:
                  type: string
                customerPhone:
                  type: string
                fulfillmentMethod:
                  type: string
                  enum: [home_delivery, in_clinic_pickup]
                deliveryAddress:
                  type: string
                branchId:
                  type: integer
                successUrl:
                  type: string
                cancelUrl:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
                  orderHash:
                    type: string
                  sessionId:
                    type: string
                  checkoutUrl:
                    type: string
                  total:
                    type: number
                  currency:
                    type: string
  /pharmacy/cart/verify-payment:
    post:
      tags:
        - pharmacy_cart
      summary: Verify Stripe payment for pharmacy order (public, no auth)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - sessionId
              properties:
                sessionId:
                  type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  orderId:
                    type: integer
                  paymentIntentId:
                    type: string
                  amountTotal:
                    type: number
                  currency:
                    type: string
components:
  schemas:
    Availabilities:
      type: array
      items:
        type: string
    AppointmentRecord:
      type: object
      properties:
        id:
          type: integer
        book:
          type: string
        start:
          type: string
        end:
          type: string
        hash:
          type: string
        location:
          type: string
        color:
          type: string
        status:
          type: string
          enum:
            - Booked
            - Confirmed
            - Rescheduled
            - Cancelled
            - Draft
            - Completed
        notes:
          type: string
        customerId:
          type: integer
        providerId:
          type: integer
        serviceId:
          type: integer
        googleCalendarId:
          type: string
        caldavCalendarId:
          type: string
        paymentStatus:
          type: string
          description: Payment status (pending, paid)
        paymentMethod:
          type: string
          description: Payment method (online, offline)
        stripeSessionId:
          type: string
          description: Stripe checkout session ID
        stripePaymentIntentId:
          type: string
          description: Stripe payment intent ID
        paymentAmount:
          type: number
          format: float
          description: Payment amount
        paymentCurrency:
          type: string
          description: Payment currency (e.g. AED, USD)
        refundAmount:
          type: number
          format: float
          description: Refund amount (if refunded)
        refundStatus:
          type: string
          description: Refund status (none, pending, completed, failed)
          enum:
            - none
            - pending
            - completed
            - failed
        refundReason:
          type: string
          description: Reason for refund
      example:
        id: 1
        book: '2021-01-01 12:00:00'
        start: '2021-01-01 17:00:00'
        end: '2021-01-01 18:00:00'
        hash: apTWVbSvBJXR
        location: Test Street 1A, 12345 Some State, Some Place
        color: '#123456'
        status: Booked
        notes: This is a test appointment.
        customerId: 5
        providerId: 2
        serviceId: 6
        googleCalendarId: null
        caldavCalendarId: null
        paymentStatus: paid
        paymentMethod: online
        stripeSessionId: cs_test_abc123
        stripePaymentIntentId: pi_abc123
        paymentAmount: 250.00
        paymentCurrency: AED
        refundAmount: null
        refundStatus: none
        refundReason: null
    AppointmentPayload:
      type: object
      properties:
        start:
          type: string
        end:
          type: string
        location:
          type: string
        color:
          type: string
        status:
          type: string
        notes:
          type: string
        customerId:
          type: integer
        providerId:
          type: integer
        serviceId:
          type: integer
        stripeSessionId:
          type: string
          description: Stripe checkout session ID (required for online payment). Either this or paymentMethod=offline must be provided when the service has a price > 0.
        paymentMethod:
          type: string
          description: Payment method. Use "offline" for pay-at-clinic. Required when stripeSessionId is not provided and the service has a price > 0.
          enum:
            - online
            - offline
      example:
        start: '2021-01-01 17:00:00'
        end: '2021-01-01 18:00:00'
        location: Test Street 1A, 12345 Some State, Some Place
        color: '#123456'
        status: Booked
        notes: This is a test appointment.
        customerId: 5
        providerId: 2
        serviceId: 6
        stripeSessionId: cs_test_abc123
    UnavailabilityRecord:
      type: object
      properties:
        id:
          type: integer
        book:
          type: string
        start:
          type: string
        end:
          type: string
        hash:
          type: string
        location:
          type: string
        notes:
          type: string
        providerId:
          type: integer
        googleCalendarId:
          type: string
        caldavCalendarId:
          type: string
      example:
        id: 1
        book: '2021-01-01 12:00:00'
        start: '2021-01-01 17:00:00'
        end: '2021-01-01 18:00:00'
        hash: apTWVbSvBJXR
        location: Test Street 1A, 12345 Some State, Some Place
        notes: This is a test unavailability.
        providerId: 2
        googleCalendarId: null
        caldavCalendarId: null
    UnavailabilityPayload:
      type: object
      properties:
        start:
          type: string
        end:
          type: string
        location:
          type: string
        notes:
          type: string
        providerId:
          type: integer
      example:
        start: '2021-01-01 17:00:00'
        end: '2021-01-01 18:00:00'
        location: Test Street 1A, 12345 Some State, Some Place
        notes: This is a test appointment.
        providerId: 2
    CustomerRecord:
      type: object
      properties:
        id:
          type: integer
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        phone:
          type: string
        address:
          type: string
        city:
          type: string
        zip:
          type: string
        timezone:
          type: string
        language:
          type: string
        customField1:
          type: string
        customField2:
          type: string 
        customField3:
          type: string
        customField4:
          type: string
        customField5:
          type: string
        ldapDn:
          type: string
        notes:
          type: string
        preferredLanguage:
          type: string
          description: Preferred notification language (e.g. "en", "ar")
          default: en
      example:
        id: 1
        firstName: Steve
        lastName: Doe
        email: steve@example.org
        phone: Test Street 1A
        city: Some Place
        zip: '12345'
        timezone: UTC
        language: english
        customField1: Value1
        customField2: Value2
        customField3: Value3
        customField4: Value4
        customField5: Value5
        ldapDn: null
        notes: This is a test customer.
        preferredLanguage: en
    CustomerPayload:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        phone:
          type: string
        address:
          type: string
        city:
          type: string
        zip:
          type: string
        timezone:
          type: string
        language:
          type: string
        customField1:
          type: string
        customField2:
          type: string
        customField3:
          type: string
        customField4:
          type: string
        customField5:
          type: string
        ldapDn:
          type: string
        notes:
          type: string
        preferredLanguage:
          type: string
          description: Preferred notification language (e.g. "en", "ar")
          default: en
      example:
        firstName: Steve
        lastName: Doe
        email: steve@example.org
        phone: Test Street 1A
        city: Some Place
        zip: '12345'
        timezone: UTC
        language: english
        customField1: Value1
        customField2: Value2
        customField3: Value3
        customField4: Value4
        customField5: Value5
        ldapDn: null
        notes: This is a test customer.
        preferredLanguage: en
    ServiceRecord:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        duration:
          type: integer
        price:
          type: number
          format: float
        currency:
          type: string
        location:
          type: string
        description:
          type: string
        availabilitiesType:
          type: string
        attendantsNumber:
          type: integer
        isPrivate:
          type: boolean
        categoryId:
          type: integer
        branchId:
          type: integer
          description: Branch ID the service belongs to
      example:
        id: 1
        name: Test Service
        duration: 30
        price: 10
        currency: USD
        location: Test Street 1A, 12345 Some State, Some Place
        description: This is a test service.
        availabilitiesType: flexible
        attendantsNumber: 1
        isPrivate: false
        serviceCategoryId: null
        branchId: 1
    ServicePayload:
      type: object
      properties:
        name:
          type: string
        duration:
          type: integer
        price:
          type: number
        currency:
          type: string
        location:
          type: string
        description:
          type: string
        availabilitiesType:
          type: string
        attendantsNumber:
          type: integer
        isPrivate:
          type: boolean
        serviceCategoryId:
          type: integer
      example:
        name: Test Service
        duration: 30
        price: 10
        currency: USD
        location: Test Street 1A, 12345 Some State, Some Place
        description: This is a test service.
        availabilitiesType: flexible
        attendantsNumber: 1
        isPrivate: false
        serviceCategoryId: null
    ServiceCategoryRecord:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
      example:
        id: 1
        name: Test Category
        description: This is a test category.
    ServiceCategoryPayload:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
      example:
        name: Test Category
        description: This is a test category.
    AdminRecord:
      type: object
      properties:
        id:
          type: integer
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        mobile:
          type: string
        phone:
          type: string
        address:
          type: string
        city:
          type: string
        zip:
          type: string
        notes:
          type: string
        timezone:
          type: string
        language:
          type: string
        ldapDn:
          type: string
        settings:
          type: object
          properties:
            username:
              type: string
            password:
              type: string
              format: password
            notifications:
              type: boolean
            calendarView:
              type: string
      example:
        id: 1
        firstName: Jason
        lastName: Doe
        email: jason@example.org
        mobile: '+10000000000'
        phone: '+10000000000'
        address: Test Street 1A
        city: Some Place
        zip: '12345'
        notes: This is a test admin.
        timezone: UTC
        language: english
        ldapDn: null
        settings:
          username: jasondoe
          password: Password@123
          notifications: true
          calendarView: default
    AdminPayload:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        mobile:
          type: string
        phone:
          type: string
        address:
          type: string
        city:
          type: string
        zip:
          type: string
        notes:
          type: string
        timezone:
          type: string
        language:
          type: string
        ldapDn:
          type: string
        settings:
          type: object
          properties:
            username:
              type: string
            password:
              type: string
              format: password
            notifications:
              type: boolean
            calendarView:
              type: string
      example:
        firstName: Jason
        lastName: Doe
        email: jason@example.org
        mobile: '+10000000000'
        phone: '+10000000000'
        address: Test Street 1A
        city: Some Place
        zip: '12345'
        notes: This is a test admin.
        timezone: UTC
        language: english
        ldapDn: null
        settings:
          username: jasondoe
          password: Password@123
          notifications: true
          calendarView: default
    ProviderRecord:
      type: object
      properties:
        id:
          type: integer
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        mobile:
          type: string
        phone:
          type: string
        address:
          type: string
        city:
          type: string
        zip:
          type: string
        notes:
          type: string
        timezone:
          type: string
        language:
          type: string
        isPrivate:
          type: boolean
        ldapDn:
          type: string
        photo:
          type: string
          description: URL or path to provider's profile photo
          nullable: true
        bio:
          type: string
          description: Provider biography / about text
          nullable: true
        qualifications:
          type: string
          description: Provider qualifications and certifications
          nullable: true
        specialty:
          type: string
          description: Provider medical specialty
          nullable: true
        services:
          type: array
          items:
            type: integer
        settings:
          type: object
          properties:
            username:
              type: string
            password:
              type: string
            notifications:
              type: boolean
            calendarView:
              type: string
            googleSync:
              type: boolean
            googleCalendar:
              type: string
            googleToken:
              type: string
            caldavSync:
              type: boolean
            caldavUrl:
              type: string
            caldavUsername:
              type: string
            caldavPassword:
              type: string
            syncFutureDays:
              type: string
            syncPastDays:
              type: string
            workingPlan:
              type: string
      example:
        id: 1
        firstName: Chris
        lastName: Doe
        email: chris@example.org
        mobile: '+10000000000'
        phone: '+10000000000'
        address: Test Street 1A
        city: Some Place
        zip: '12345'
        notes: This is a test provider.
        timezone: UTC
        language: english
        services: [ ]
        isPrivate: false
        ldapDn: null
        photo: null
        bio: Board-certified cardiologist with 15 years of experience
        qualifications: MD, FACC
        specialty: Cardiology
        settings:
          username: chrisdoe
          password: Password@123
          notifications: true
          calendarView: default
          googleSync: false
          googleCalendar: null
          googleToken: null
          caldavSync: false
          caldavUrl: null
          caldavUsername: null
          caldavPassword: null
          syncFutureDays: 90
          syncPastDays: 30
          workingPlan:
            sunday: null
            monday:
              start: '09:00'
              end: '17:00'
              breaks: [ ]
            tuesday:
              start: '09:00'
              end: '17:00'
              breaks: [ ]
            wednesday:
              start: '09:00'
              end: '17:00'
              breaks: [ ]
            thursday:
              start: '09:00'
              end: '17:00'
              breaks: [ ]
            friday:
              start: '09:00'
              end: '17:00'
              breaks: [ ]
            saturday: null
    ProviderPayload:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        mobile:
          type: string
        phone:
          type: string
        address:
          type: string
        city:
          type: string
        zip:
          type: string
        notes:
          type: string
        timezone:
          type: string
        language:
          type: string
        isPrivate:
          type: boolean
        ldapDn:
          type: string
        photo:
          type: string
          description: URL or path to provider's profile photo
          nullable: true
        bio:
          type: string
          description: Provider biography / about text
          nullable: true
        qualifications:
          type: string
          description: Provider qualifications and certifications
          nullable: true
        specialty:
          type: string
          description: Provider medical specialty
          nullable: true
        services:
          type: array
          items:
            type: integer
        settings:
          type: object
          properties:
            username:
              type: string
            password:
              type: string
              format: password
            notifications:
              type: boolean
            calendarView:
              type: string
            googleSync:
              type: boolean
            googleCalendar:
              type: string
            googleToken:
              type: string
            caldavSync:
              type: boolean
            caldavUrl:
              type: string
            caldavUsername:
              type: string
            caldavPassword:
              type: string
            syncFutureDays:
              type: string
            syncPastDays:
              type: string
            workingPlan:
              type: string
      example:
        firstName: Chris
        lastName: Doe
        email: chris@example.org
        mobile: '+10000000000'
        phone: '+10000000000'
        address: Test Street 1A
        city: Some Place
        zip: '12345'
        notes: This is a test provider.
        timezone: UTC
        language: english
        isPrivate: false
        ldapDn: null
        photo: null
        bio: Board-certified cardiologist with 15 years of experience
        qualifications: MD, FACC
        specialty: Cardiology
        services: [ ]
        settings:
          username: chrisdoe
          password: Password@123
          notifications: true
          calendarView: default
          googleSync: false
          googleCalendar: null
          googleToken: null
          caldavSync: false
          caldavUrl: null
          caldavUsername: null
          caldavPassword: null
          syncFutureDays: 90
          syncPastDays: 30
          workingPlan:
            sunday: null
            monday:
              start: '09:00'
              end: '17:00'
              breaks: [ ]
            tuesday:
              start: '09:00'
              end: '17:00'
              breaks: [ ]
            wednesday:
              start: '09:00'
              end: '17:00'
              breaks: [ ]
            thursday:
              start: '09:00'
              end: '17:00'
              breaks: [ ]
            friday:
              start: '09:00'
              end: '17:00'
[...]
